**AI-Based Cyclone Path and Intensity Forecasting**

This project aims to develop an AI/ML model that can predict the path (latitude and longitude) and intensity (maximum wind speed and minimum central pressure) of tropical cyclones. By leveraging historical cyclone data from the CMA Best Track dataset, the model provides accurate forecasts that can help in early warning systems and disaster preparedness.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**LOADING THE DATASET**

In [2]:
data = pd.read_csv("CMA_Best_Track_Data.csv", low_memory=False)

**DATA PREPROCESSING**

In [3]:
data.head()

,International Number ID,Tropical Cyclone Number,Chinese Tropical Cyclone Data,Tropical Cyclone End Record,Number of Hours between Paths per Line,Name,Time,Grade,Latitude,Longitude,Minimum Central Pressure,Maximum Wind Speed,Average Wind Speed
0,0,1,0000,0,6,Carmen,1949-01-13 00:00:00,0,5.7,139.9,1006,0,NaN
1,0,1,0000,0,6,Carmen,1949-01-13 06:00:00,0,5.9,139.3,1006,0,NaN
2,0,1,0000,0,6,Carmen,1949-01-13 12:00:00,0,6.3,138.7,1006,0,NaN
3,0,1,0000,0,6,Carmen,1949-01-13 18:00:00,0,6.7,138.0,1006,0,NaN
4,0,1,0000,0,6,Carmen,1949-01-14 00:00:00,0,7.2,137.3,1005,0,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71705 entries, 0 to 71704
Data columns (total 13 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   International Number ID                 71705 non-null  int64
 1   Tropical Cyclone Number                 71705 non-null  int64
 2   Chinese Tropical Cyclone Data           71705 non-null  object
 3   Tropical Cyclone End Record             71705 non-null  int64
 4   Number of Hours between Paths per Line  71705 non-null  int64
 5   Name                                    71705 non-null  object
 6   Time                                    71705 non-null  object
 7   Grade                                   71705 non-null  int64
 8   Latitude                                71705 non-null  float64
 9   Longitude                               71705 non-null  float64
 10  Minimum Central Pressure                71705 non-null  int64
 11  Maximum Wind Speed                      71705 non-null  int64
 12  Average Wind Speed                      734 non-null    float64
dtypes: float64(3), int64(7), object(3)
memory usage: 7.1+ MB

In [5]:
data.describe

<bound method NDFrame.describe of        International Number ID  Tropical Cyclone Number  \
0                            0                        1
1                            0                        1
2                            0                        1
3                            0                        1
4                            0                        1
...                        ...                      ...
71700                     2225                       29
71701                     2225                       29
71702                     2225                       29
71703                     2225                       29
71704                     2225                       29

      Chinese Tropical Cyclone Data  Tropical Cyclone End Record  \
0                              0000                            0
1                              0000                            0
2                              0000                            0
3                              0000                            0
4                              0000                            0
...                             ...                          ...
71700                          2225                            0
71701                          2225                            0
71702                          2225                            0
71703                          2225                            0
71704                          2225                            0

       Number of Hours between Paths per Line    Name                 Time  \
0                                           6  Carmen  1949-01-13 00:00:00
1                                           6  Carmen  1949-01-13 06:00:00
2                                           6  Carmen  1949-01-13 12:00:00
3                                           6  Carmen  1949-01-13 18:00:00
4                                           6  Carmen  1949-01-14 00:00:00
...                                       ...     ...                  ...
71700                                       6  Pakhar  2022-12-12 06:00:00
71701                                       6  Pakhar  2022-12-12 12:00:00
71702                                       6  Pakhar  2022-12-12 18:00:00
71703                                       6  Pakhar  2022-12-13 00:00:00
71704                                       6  Pakhar  2022-12-13 06:00:00

       Grade  Latitude  Longitude  Minimum Central Pressure  \
0          0       5.7      139.9                      1006
1          0       5.9      139.3                      1006
2          0       6.3      138.7                      1006
3          0       6.7      138.0                      1006
4          0       7.2      137.3                      1005
...      ...       ...        ...                       ...
71700      2      20.5      131.0                       995
71701      2      20.3      131.7                      1000
71702      1      19.6      131.9                      1002
71703      1      18.7      131.5                      1002
71704      1      18.0      131.2                      1004

       Maximum Wind Speed  Average Wind Speed
0                       0                 NaN
1                       0                 NaN
2                       0                 NaN
3                       0                 NaN
4                       0                 NaN
...                   ...                 ...
71700                  23                 NaN
71701                  18                 NaN
71702                  15                 NaN
71703                  15                 NaN
71704                  13                 NaN

[71705 rows x 13 columns]>

In [6]:
data.isnull().sum()

International Number ID                       0
Tropical Cyclone Number                       0
Chinese Tropical Cyclone Data                 0
Tropical Cyclone End Record                   0
Number of Hours between Paths per Line        0
Name                                          0
Time                                          0
Grade                                         0
Latitude                                      0
Longitude                                     0
Minimum Central Pressure                      0
Maximum Wind Speed                            0
Average Wind Speed                        70971
dtype: int64

In [7]:
data = data.drop(columns=["Chinese Tropical Cyclone Data", "Average Wind Speed", "Name"])

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71705 entries, 0 to 71704
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   International Number ID                 71705 non-null  int64
 1   Tropical Cyclone Number                 71705 non-null  int64
 2   Tropical Cyclone End Record             71705 non-null  int64
 3   Number of Hours between Paths per Line  71705 non-null  int64
 4   Time                                    71705 non-null  object
 5   Grade                                   71705 non-null  int64
 6   Latitude                                71705 non-null  float64
 7   Longitude                               71705 non-null  float64
 8   Minimum Central Pressure                71705 non-null  int64
 9   Maximum Wind Speed                      71705 non-null  int64
dtypes: float64(2), int64(7), object(1)
memory usage: 5.5+ MB